<br>
<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item active">{{location}}</li>
</ol>
</div>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Group Name</th>     
      <th scope="col">Last Edited By</th>
      <th scope="col">Valid From</th>
      <th scope="col">Valid To</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let buyingGroup of buyingGroups | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
      <td>{{buyingGroup.buyingGroupID}}</td>
      <td>{{buyingGroup.buyingGroupName}}</td>
      <td>{{buyingGroup.lastEditedBy}}</td>
      <td>{{buyingGroup.validFrom | date:'EEE, d MMM, y'}}</td>
      <td>{{buyingGroup.validTo | date:'EEE, d MMM, y'}}</td>
      <td><a href="buying-groups/{{buyingGroup.buyingGroupID}}" class="btn btn-link">Details</a></td>
    </tr>
  </tbody>
</table>
<div>
    <div *ngIf="loading" > 
  		<strong>Loading data. Please wait ...</strong>	
	</div> 
	<div *ngIf="!loading" > 
		<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
	</div> 	 
</div>
</div>