<br>
<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item"><a href="/buying-groups">Buying Groups</a></li>
  <li class="breadcrumb-item active">{{id}}</li>
</ol>
</div>
<br>
<div class="container">
<table class="table">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{buyingGroups?.buyingGroupID}}</td>     
      </tr>
      <tr>
        <td>Name</td>
        <td>{{buyingGroups?.buyingGroupName}}</td>
      </tr>      
      <tr>
        <td>Last Edited By</td>
        <td>{{buyingGroups?.lastEditedBy}}</td>
      </tr>
      <tr>
        <td>Valid From</td>
        <td>{{buyingGroups?.validFrom | date:'EEE, d MMM, y'}}</td>
      </tr> 
      <tr>
        <td>Valid To</td>
        <td>{{buyingGroups?.validTo | date:'EEE, d MMM, y'}}</td>
      </tr>          
    </tbody>
  </table>
</div>