<br>
<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item active">{{location}}</li>
</ol>
</div>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Description</th>     
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let specialDeal of specialDeals | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
      <td>{{specialDeal.specialDealID}}</td>
      <td>{{specialDeal.dealDescription}}</td>
      <td>{{specialDeal.startDate | date:'EEE, d MMM, y'}}</td>
      <td>{{specialDeal.endDate | date:'EEE, d MMM, y'}}</td>
      <td><a href="special-deals/{{specialDeal.specialDealID}}" class="btn btn-link">Details</a></td>
    </tr>
  </tbody>
</table>
<div>
    <div *ngIf="loading" > 
  		<strong>Loading data. Please wait ...</strong>	
	</div> 
	<div *ngIf="!loading" > 
		<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
	</div> 	 
</div>
</div>