<br>
<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item"><a href="/special-deals">Speacial Deals</a></li>
  <li class="breadcrumb-item active">{{id}}</li>
</ol>
</div>
<br>
<div class="container">
<table class="table">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{specialDeals?.specialDealID}}</td>     
      </tr>
      <tr>
        <td>Deal Description</td>
        <td>{{specialDeals?.dealDescription}}</td>
      </tr>
      <tr>
        <td>Start Date</td>
        <td>{{specialDeals?.startDate | date:'EEE, d MMM, y'}}</td>
      </tr>
      <tr>
        <td>End Date</td>
        <td>{{specialDeals?.endDate | date:'EEE, d MMM, y'}}</td>
      </tr>     
      <tr>
        <td>Discount Amount</td>
        <td>{{specialDeals?.discountAmount}}</td>
      </tr>
      <tr>
        <td>Discount Percentage</td>
        <td>{{specialDeals?.discountPercentage}}</td>
      </tr>
      <tr>
        <td>Unit Price</td>
        <td>{{specialDeals?.unitPrice}}</td>
      </tr>      
      <tr>
        <td>Last Edited By</td>
        <td>{{specialDeals?.lastEditedBy | date:'EEE, d MMM, y'}}</td>
      </tr>
      <tr>
        <td>Last Edited When</td>
        <td>{{specialDeals?.lastEditedWhen | date:'EEE, d MMM, y'}}</td>
      </tr>          
    </tbody>
  </table>
</div>