<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
  	<li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="buying-groups">Buying Groups</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="special-deals">Special Deals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 4</a>
    </li>
  </ul>
</nav>
</div>
<div style="text-align:center">
  
</div>

<router-outlet></router-outlet>
